# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.xddnujtzegeabtvzxaeb:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.xddnujtzegeabtvzxaeb:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL=https://xddnujtzegeabtvzxaeb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_1bRZJwTA-Xz1-Ws83Zj_wA_RKNBIv0k

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YW1hemVkLWVhcndpZy03My5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_MGSCPYKPVO8B76jQXDe40BrC6IURLIQRNof4vfwhR5
