NEXT_PUBLIC_APP_URL="http://localhost:3000"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/concurseiroplus?sslmode=require"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWN0dWFsLWJpc29uLTExLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_cOCP6trYBjdLvl62xPmjgzHNiQlni8IA2Gw85270zu
CLERK_WEBHOOK_SECRET=""

ANTHROPIC_API_KEY=""
ANTHROPIC_MODEL="claude-sonnet-4-5"
OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4.1-mini"

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

ABACATEPAY_API_KEY=""
ABACATEPAY_WEBHOOK_SECRET=""
ABACATEPAY_WEBHOOK_HMAC_SECRET=""
ABACATEPAY_WEBHOOK_PUBLIC_KEY=""

RESEND_API_KEY=""
RESEND_FROM_EMAIL="Concurseiro+ <no-reply@concurseiroplus.com.br>"

NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"
SENTRY_AUTH_TOKEN=""
NEXT_PUBLIC_SENTRY_DSN=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="sa-east-1"
AWS_S3_BUCKET=""
SUPABASE_STORAGE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
