/* [project]/src/styles/clerk.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after {
      --tw-font-weight: initial;
      --tw-shadow: 0 0 rgba(0, 0, 0, 0);
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 rgba(0, 0, 0, 0);
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 rgba(0, 0, 0, 0);
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
      --tw-border-style: solid;
      --tw-gradient-position: initial;
      --tw-gradient-from: rgba(0, 0, 0, 0);
      --tw-gradient-via: rgba(0, 0, 0, 0);
      --tw-gradient-to: rgba(0, 0, 0, 0);
      --tw-gradient-stops: initial;
      --tw-gradient-via-stops: initial;
      --tw-gradient-from-position: 0%;
      --tw-gradient-via-position: 50%;
      --tw-gradient-to-position: 100%;
    }

    ::backdrop {
      --tw-font-weight: initial;
      --tw-shadow: 0 0 rgba(0, 0, 0, 0);
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 rgba(0, 0, 0, 0);
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 rgba(0, 0, 0, 0);
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
      --tw-border-style: solid;
      --tw-gradient-position: initial;
      --tw-gradient-from: rgba(0, 0, 0, 0);
      --tw-gradient-via: rgba(0, 0, 0, 0);
      --tw-gradient-to: rgba(0, 0, 0, 0);
      --tw-gradient-stops: initial;
      --tw-gradient-via-stops: initial;
      --tw-gradient-from-position: 0%;
      --tw-gradient-via-position: 50%;
      --tw-gradient-to-position: 100%;
    }
  }
}

.cl-formButtonPrimary {
  height: calc(var(--spacing, .25rem) * 9);
  border-radius: calc(var(--radius)  - 2px);
  background-color: var(--primary);
  padding-inline: calc(var(--spacing, .25rem) * 3);
  --tw-font-weight: var(--font-weight-medium, 500);
  font-weight: var(--font-weight-medium, 500);
  white-space: nowrap;
  color: var(--primary-foreground);
  --tw-ring-offset-color: var(--background);
  transition-property: color, background-color, border-color, outline-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function, cubic-bezier(.4, 0, .2, 1)));
  transition-duration: var(--tw-duration, var(--default-transition-duration, .15s));
  justify-content: center;
  align-items: center;
  display: inline-flex;
  --tw-shadow: 0 0 rgba(0, 0, 0, 0) !important;
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
}

@media (hover: hover) {
  .cl-formButtonPrimary:hover {
    background-color: var(--primary);
  }

  @supports (color: color-mix(in lab, red, red)) {
    .cl-formButtonPrimary:hover {
      background-color: color-mix(in oklab, var(--primary) 90%, transparent);
    }
  }
}

.cl-formButtonPrimary:focus-visible {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.cl-formButtonPrimary:focus-visible {
  --tw-ring-color: var(--ring);
}

.cl-formButtonPrimary:focus-visible {
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
}

.cl-formButtonPrimary:focus-visible {
  --tw-outline-style: none;
  outline-style: none;
}

.cl-formButtonPrimary:disabled {
  pointer-events: none;
}

.cl-formButtonPrimary:disabled {
  opacity: .5;
}

.cl-card, .cl-socialButtonsBlockButton, .cl-alert, .cl-phoneInputBox, .cl-userButtonPopoverCard {
  border-radius: var(--radius);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--input);
  background-color: var(--background);
}

:is(.cl-headerTitle, .cl-socialButtonsBlockButtonText, .cl-loading, .cl-formFieldLabel, .cl-formHeaderTitle, .cl-selectButton__countryCode, .cl-selectButton__countryCode p, .cl-selectOption p, .cl-selectOption div, .cl-modalCloseButton, .cl-navbarButton, .cl-breadcrumbsItem.cl-breadcrumbsItem__currentPage, .cl-profileSectionTitle p, .cl-userPreviewTextContainer, .cl-profileSectionContent p, .cl-form p, .cl-accordionTriggerButton):is(.dark *) {
  color: var(--foreground);
}

.cl-headerSubtitle, .cl-dividerText, .cl-footerActionText, .cl-alertText, .cl-formFieldInfoText, .cl-formFieldSuccessText, .cl-identityPreviewText, .cl-userButtonPopoverActionButton, .cl-userButtonPopoverActionButton svg, .cl-userButtonPopoverActionButtonText, .cl-userButtonPopoverFooter p, .cl-userButtonPopoverFooter a, .cl-formHeaderSubtitle, .cl-breadcrumbsItem, .cl-breadcrumbsItemDivider, .cl-fileDropAreaHint, .cl-fileDropAreaFooterHint, .cl-form p[data-localization-key="userProfile.emailAddressPage.emailCode.formHint"], p[data-localization-key="userProfile.profilePage.successMessage"] {
  color: var(--muted-foreground);
}

.cl-dividerLine {
  background-color: var(--border);
}

.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"] {
  height: calc(var(--spacing, .25rem) * 10);
  border-radius: calc(var(--radius)  - 2px);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--input);
  background-color: var(--background);
  width: 100%;
  padding-inline: calc(var(--spacing, .25rem) * 3);
  padding-block: calc(var(--spacing, .25rem) * 2);
  color: var(--foreground);
  --tw-ring-offset-color: var(--background);
  display: flex;
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"])::-webkit-file-upload-button {
  border-style: var(--tw-border-style);
  border-width: 0;
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"])::file-selector-button {
  border-style: var(--tw-border-style);
  border-width: 0;
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"])::-webkit-file-upload-button {
  background-color: rgba(0, 0, 0, 0);
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"])::file-selector-button {
  background-color: rgba(0, 0, 0, 0);
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"])::-webkit-file-upload-button {
  font-size: var(--text-sm, .875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / .875)));
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"])::file-selector-button {
  font-size: var(--text-sm, .875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / .875)));
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"])::-webkit-file-upload-button {
  --tw-font-weight: var(--font-weight-medium, 500);
  font-weight: var(--font-weight-medium, 500);
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"])::file-selector-button {
  --tw-font-weight: var(--font-weight-medium, 500);
  font-weight: var(--font-weight-medium, 500);
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"])::placeholder {
  color: var(--muted-foreground);
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"]):focus-visible {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"]):focus-visible {
  --tw-ring-color: var(--ring);
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"]):focus-visible {
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"]):focus-visible {
  --tw-outline-style: none;
  outline-style: none;
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"]):disabled {
  cursor: not-allowed;
}

:is(.cl-formFieldInput[type="text"], .cl-formFieldInput[type="email"], .cl-formFieldInput[type="password"]):disabled {
  opacity: .5;
}

.cl-footerActionLink {
  color: var(--accent-foreground);
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

@media (hover: hover) {
  .cl-footerActionLink:hover {
    color: var(--accent-foreground);
  }

  @supports (color: color-mix(in lab, red, red)) {
    .cl-footerActionLink:hover {
      color: color-mix(in oklab, var(--accent-foreground) 90%, transparent);
    }
  }
}

.cl-otpCodeFieldInput {
  color: var(--foreground);
  border-style: var(--tw-border-style) !important;
  border-width: 1px !important;
  border-color: var(--input) !important;
}

.cl-formResendCodeLink {
  color: var(--primary);
}

.cl-formResendCodeLink:disabled {
  opacity: .9;
}

.cl-selectSearchInput__countryCode {
  height: calc(var(--spacing, .25rem) * 10);
  border-radius: calc(var(--radius)  - 2px);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  border-color: var(--input);
  background-color: var(--background);
  width: 100%;
  color: var(--foreground);
  --tw-ring-offset-color: var(--background);
  display: flex;
}

.cl-selectSearchInput__countryCode::-webkit-file-upload-button {
  border-style: var(--tw-border-style);
  border-width: 0;
}

.cl-selectSearchInput__countryCode::file-selector-button {
  border-style: var(--tw-border-style);
  border-width: 0;
}

.cl-selectSearchInput__countryCode::-webkit-file-upload-button {
  background-color: rgba(0, 0, 0, 0);
}

.cl-selectSearchInput__countryCode::file-selector-button {
  background-color: rgba(0, 0, 0, 0);
}

.cl-selectSearchInput__countryCode::-webkit-file-upload-button {
  font-size: var(--text-sm, .875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / .875)));
}

.cl-selectSearchInput__countryCode::file-selector-button {
  font-size: var(--text-sm, .875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / .875)));
}

.cl-selectSearchInput__countryCode::-webkit-file-upload-button {
  --tw-font-weight: var(--font-weight-medium, 500);
  font-weight: var(--font-weight-medium, 500);
}

.cl-selectSearchInput__countryCode::file-selector-button {
  --tw-font-weight: var(--font-weight-medium, 500);
  font-weight: var(--font-weight-medium, 500);
}

.cl-selectSearchInput__countryCode::placeholder {
  color: var(--muted-foreground);
}

.cl-selectSearchInput__countryCode:focus-visible {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.cl-selectSearchInput__countryCode:focus-visible {
  --tw-ring-color: var(--ring);
}

.cl-selectSearchInput__countryCode:focus-visible {
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
}

.cl-selectSearchInput__countryCode:focus-visible {
  --tw-outline-style: none;
  outline-style: none;
}

.cl-selectSearchInput__countryCode:disabled {
  cursor: not-allowed;
}

.cl-selectSearchInput__countryCode:disabled {
  opacity: .5;
}

.cl-selectOptionsContainer__countryCode {
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--input);
  background-color: var(--background);
}

.cl-internal-icon, .cl-userPreviewSecondaryIdentifier__userButton {
  color: var(--foreground);
}

button[data-localization-key="userProfile.start.dangerSection.deleteAccountButton"] {
  background-color: var(--destructive);
  color: var(--foreground);
}

@media (hover: hover) {
  button[data-localization-key="userProfile.start.dangerSection.deleteAccountButton"]:hover {
    background-color: var(--destructive);
  }

  @supports (color: color-mix(in lab, red, red)) {
    button[data-localization-key="userProfile.start.dangerSection.deleteAccountButton"]:hover {
      background-color: color-mix(in oklab, var(--destructive) 90%, transparent);
    }
  }
}

.cl-fileDropAreaBox:is(.dark *) {
  background-color: var(--color-gray-900, #101828);
}

@supports (color: color(display-p3 0 0 0)) {
  .cl-fileDropAreaBox:is(.dark *) {
    background-color: var(--color-gray-900, color(display-p3 .070423 .0928982 .151928));
  }
}

@supports (color: lab(0% 0 0)) {
  .cl-fileDropAreaBox:is(.dark *) {
    background-color: var(--color-gray-900, lab(8.11897% .811279 -12.254));
  }
}

.cl-fileDropAreaIconBox:is(.dark *) {
  background-color: var(--color-gray-800, #1e2939);
}

@supports (color: color(display-p3 0 0 0)) {
  .cl-fileDropAreaIconBox:is(.dark *) {
    background-color: var(--color-gray-800, color(display-p3 .125854 .159497 .216835));
  }
}

@supports (color: lab(0% 0 0)) {
  .cl-fileDropAreaIconBox:is(.dark *) {
    background-color: var(--color-gray-800, lab(16.1051% -1.18239 -11.7533));
  }
}

.cl-fileDropAreaIcon:is(.dark *) {
  color: var(--color-gray-400, #99a1af);
}

@supports (color: color(display-p3 0 0 0)) {
  .cl-fileDropAreaIcon:is(.dark *) {
    color: var(--color-gray-400, color(display-p3 .605734 .630385 .680158));
  }
}

@supports (color: lab(0% 0 0)) {
  .cl-fileDropAreaIcon:is(.dark *) {
    color: var(--color-gray-400, lab(65.9269% -.832707 -8.17474));
  }
}

.cl-fileDropAreaButtonPrimary {
  height: calc(var(--spacing, .25rem) * 10);
  padding-inline: calc(var(--spacing, .25rem) * 4);
  padding-block: calc(var(--spacing, .25rem) * 2);
  color: var(--foreground);
  transition-property: color, background-color, border-color, outline-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function, cubic-bezier(.4, 0, .2, 1)));
  transition-duration: var(--tw-duration, var(--default-transition-duration, .15s));
}

@media (hover: hover) {
  .cl-fileDropAreaButtonPrimary:hover {
    background-color: var(--secondary);
  }
}

@media (hover: hover) {
  .cl-fileDropAreaButtonPrimary:hover {
    color: var(--accent-foreground);
  }
}

@media (hover: hover) {
  :is(.cl-userButtonPopoverActionButton, .cl-profileSectionPrimaryButton, .cl-accordionTriggerButton, .cl-navbarButton):hover {
    background-color: var(--accent);
  }
}

@media (hover: hover) {
  :is(.cl-userButtonPopoverActionButton, .cl-profileSectionPrimaryButton, .cl-accordionTriggerButton, .cl-navbarButton):hover {
    color: var(--accent-foreground);
  }
}

.cl-card {
  border-radius: var(--radius);
  --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgba(0, 0, 0, .1)), 0 2px 4px -2px var(--tw-shadow-color, rgba(0, 0, 0, .1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.cl-userButtonPopoverCard {
  border-radius: calc(var(--radius)  - 2px);
}

@media (hover: hover) {
  .cl-userButtonPopoverFooter a:hover {
    color: var(--muted-foreground);
  }
}

.cl-badge {
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--input);
  background-color: var(--background);
  padding-inline: calc(var(--spacing, .25rem) * 2.5);
  padding-block: calc(var(--spacing, .25rem) * .5);
  font-size: var(--text-xs, .75rem);
  line-height: var(--tw-leading, var(--text-xs--line-height, calc(1 / .75)));
  color: var(--foreground);
  border-radius: 3.40282e38px;
  --tw-shadow: 0 0 rgba(0, 0, 0, 0) !important;
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
}

.cl-badge[data-localization-key="badge__unverified"] {
  border-style: var(--tw-border-style);
  color: var(--destructive);
  background-color: rgba(0, 0, 0, 0);
  border-width: 1px;
}

.cl-badge[data-localization-key="badge__unverified"]:is(.dark *) {
  color: var(--color-red-500, #fb2c36);
}

@supports (color: color(display-p3 0 0 0)) {
  .cl-badge[data-localization-key="badge__unverified"]:is(.dark *) {
    color: var(--color-red-500, color(display-p3 .903738 .262579 .253307));
  }
}

@supports (color: lab(0% 0 0)) {
  .cl-badge[data-localization-key="badge__unverified"]:is(.dark *) {
    color: var(--color-red-500, lab(55.4814% 75.0732 48.8528));
  }
}

.cl-formButtonReset {
  color: var(--foreground);
}

@media (hover: hover) {
  .cl-formButtonReset:hover {
    background-color: var(--secondary);
  }
}

.cl-footer {
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-inline-style: var(--tw-border-style);
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-style: var(--tw-border-style);
  background-color: var(--background);
  --tw-gradient-position: to top in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
  --tw-gradient-from: var(--background);
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
  --tw-gradient-to: var(--background);
  color: var(--muted-foreground);
  border-bottom-width: 1px;
}

.cl-userButtonPopoverFooter {
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  --tw-gradient-position: to top in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
  --tw-gradient-from: var(--background);
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
  --tw-gradient-to: var(--background);
}

.cl-signIn-start, .cl-signUp-start, .cl-signIn-password, .cl-signIn-alternativeMethods, .cl-signIn-emailCode {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.cl-cardBox {
  border-radius: var(--radius);
  --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgba(0, 0, 0, .1)), 0 1px 2px -1px var(--tw-shadow-color, rgba(0, 0, 0, .1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.cl-socialButtonsBlockButton {
  height: calc(var(--spacing, .25rem) * 10);
  border-style: var(--tw-border-style) !important;
  border-width: 1px !important;
}

.cl-alternativeMethods .cl-alternativeMethodsBlockButton {
  height: calc(var(--spacing, .25rem) * 10);
  border-color: var(--input);
  color: var(--muted-foreground);
  border-style: var(--tw-border-style) !important;
  border-width: 1px !important;
}

.cl-alternativeMethodsBlockButton {
  height: calc(var(--spacing, .25rem) * 10);
  --tw-shadow: 0 0 rgba(0, 0, 0, 0) !important;
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
}

.cl-navbar {
  border-radius: var(--radius);
  border-block-style: var(--tw-border-style);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-style: var(--tw-border-style);
  --tw-gradient-position: to top in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
  --tw-gradient-from: var(--background);
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
  --tw-gradient-to: var(--background);
  border-left-width: 1px;
}

.cl-scrollBox {
  border-radius: var(--radius);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--input);
  --tw-gradient-position: to top in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
  --tw-gradient-from: var(--background);
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
  --tw-gradient-to: var(--background);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

h1[data-localization-key="userProfile.navbar.title"] {
  color: var(--foreground);
}

.cl-profilePage > .cl-header, .cl-profileSection__profile, .cl-profileSection__emailAddresses {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
}

.cl-menuButton {
  color: var(--foreground);
}

@media (hover: hover) {
  .cl-menuButton:hover {
    color: var(--foreground);
  }
}

.cl-menuList, .cl-actionCard {
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--input);
  background-color: var(--background);
}

.cl-menuItem[data-color="neutral"] {
  color: var(--foreground);
}

@media (hover: hover) {
  .cl-menuItem[data-color="neutral"]:hover {
    background-color: var(--muted);
  }
}

.cl-avatarImageActionsUpload {
  border-color: var(--input);
  color: var(--foreground);
  border-style: var(--tw-border-style) !important;
  border-width: 1px !important;
}

.cl-userButtonPopoverMain {
  border-radius: var(--radius);
  border-color: var(--input);
  background-color: var(--background);
}

.cl-navbarMobileMenuRow {
  border-radius: var(--radius);
  border-inline-style: var(--tw-border-style);
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-style: var(--tw-border-style);
  --tw-gradient-position: to top in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
  --tw-gradient-from: var(--background);
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
  --tw-gradient-to: var(--background);
  border-top-width: 1px;
}

.cl-navbarMobileMenuButton {
  color: var(--foreground);
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 rgba(0, 0, 0, 0);
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 rgba(0, 0, 0, 0);
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 rgba(0, 0, 0, 0);
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 rgba(0, 0, 0, 0);
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 rgba(0, 0, 0, 0);
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-gradient-position {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-from {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(0, 0, 0, 0);
}

@property --tw-gradient-via {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(0, 0, 0, 0);
}

@property --tw-gradient-to {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(0, 0, 0, 0);
}

@property --tw-gradient-stops {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-via-stops {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-from-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --tw-gradient-via-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --tw-gradient-to-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 100%;
}

/*# sourceMappingURL=src_styles_clerk_css_e59ae46c._.single.css.map*/